body {
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 300;
    font-style: normal;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;

    background-color: rgb(148, 210, 189)
}

h1 {
    margin: 4px;
}

.board {
    background-color: rgb(10, 147, 150);
    height: 620px;
    width: 620px;
    padding: 15px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
/* instuctions pop up ---------------------------------------------- */
.instuctionsButton{
    color: rgb(233, 216, 166);
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    width: 125px;

    margin-bottom: 3px;

    display: flex;
    justify-content: flex-end;

}

.popUp{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 29, 34, 0.8);
    position: absolute;
    top: 0;

    display:flex;
    justify-content: center;
    align-items: center;

    display: none;

    font-family: "Michroma", sans-serif;
    font-weight: 500;
    font-style: normal;


}

.instructions {
    width: 700px;
    height: 700px;
    background-color: rgb(233, 216, 166);

    border-radius: 10px;
    padding: 15px;
    

    display:flex;
    justify-content: flex-end;
    
}

.close {
    font-size: 30px;
    cursor: pointer;

}

/* NAVIGATION ------------------------------------ */
.navigation {
    background-color: rgb(0, 95, 115);
    padding: 4px;
    border: 3px solid rgb(0, 18, 25);
    border-radius: 10px; 
    width: 470px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 70px
}

.bomb-counter, .reset-button{
    background-color: rgb(0, 18, 25);
    color: rgb(233, 216, 166);

    border-radius: 10px;
    border: 4px solid rgb(10, 147, 150);
    padding: 2px;

    font-size: 32px;
    height: 50px;
    width: 50px;
    
}

.timer {
    background-color: rgb(0, 18, 25);
    color: rgb(233, 216, 166);

    border-radius: 10px;
    border: 4px solid rgb(10, 147, 150);
    padding: 2px;

    font-size: 32px;
    height: 50px;
    width: 75px;
}

.bomb-counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* GRID --------------------------------------------- */
#grid {
    margin-top: 10px;
    border: 3px solid rgb(0, 18, 25);
    border-radius: 5px; 

    height: 510px;
    width: 510px;

    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

/* design of square when unclicked  */
.square{
    border: 1px solid rgb(0, 18, 25);
    background-color: rgb(0, 95, 115);
    width: 48px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* When the square is clicked */

/* bomb*/

.bombClicked {
    background-color: rgb(174, 32, 18);
    font-size: 25px;
}

.numClicked {
    background-color: rgb(233, 216, 166);
    font-size: 25px;
}

.emptySquare {
    background-color: rgb(233, 216, 166);
}

.flagSquare{
    background-color:rgb(0, 95, 115);
    font-size: 25px;

}


/* Instuctions */

.navigation-key {
    margin-bottom: 5px;
    background-color: rgb(0, 95, 115);
    padding: 4px;
    border: 3px solid rgb(0, 18, 25);
    border-radius: 10px; 
    width: 620px;
    height: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    

    

}

#key {
    font-size: 15px;
    color: rgb(233, 216, 166);

    width: 470px;

    display: flex;
    justify-content: flex-end;
    gap: 95px;
    


}